USE [master]
GO
/****** Object:  Database [DiamondHealth]    Script Date: 21/11/2025 21:49:18 ******/
CREATE DATABASE [DiamondHealth]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DiamondHealth', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DiamondHealth.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DiamondHealth_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DiamondHealth_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DiamondHealth].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DiamondHealth]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[DoctorID] [int] NOT NULL,
	[AppointmentDate] [datetime] NOT NULL,
	[ReceptionistID] [int] NULL,
	[UpdatedBy] [int] NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[ReasonForVisit] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DermatologyRecord]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DermatologyRecord](
	[DermRecordID] [int] IDENTITY(1,1) NOT NULL,
	[RecordID] [int] NOT NULL,
	[PerformedByUserID] [int] NULL,
	[RequestedProcedure] [nvarchar](200) NOT NULL,
	[BodyArea] [nvarchar](200) NULL,
	[ProcedureNotes] [nvarchar](max) NULL,
	[ResultSummary] [nvarchar](max) NULL,
	[Attachment] [nvarchar](255) NULL,
	[PerformedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DermRecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[DoctorID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Specialty] [nvarchar](100) NOT NULL,
	[ExperienceYears] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorShift]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorShift](
	[DoctorShiftID] [int] IDENTITY(1,1) NOT NULL,
	[DoctorID] [int] NOT NULL,
	[ShiftID] [int] NOT NULL,
	[EffectiveFrom] [date] NOT NULL,
	[EffectiveTo] [date] NULL,
	[Status] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorShiftExchange]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorShiftExchange](
	[ExchangeID] [int] IDENTITY(1,1) NOT NULL,
	[Doctor1ID] [int] NOT NULL,
	[Doctor1ShiftRefID] [int] NOT NULL,
	[DoctorOld1ShiftID] [int] NOT NULL,
	[Doctor2ID] [int] NULL,
	[Doctor2ShiftRefID] [int] NULL,
	[DoctorOld2ShiftID] [int] NULL,
	[ExchangeDate] [date] NULL,
	[Status] [nvarchar](20) NULL,
	[SwapType] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExchangeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InternalMedRecord]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InternalMedRecord](
	[RecordID] [int] NOT NULL,
	[BloodPressure] [int] NULL,
	[HeartRate] [int] NULL,
	[BloodSugar] [decimal](6, 2) NULL,
	[Notes] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalRecord]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecord](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[DoctorNotes] [nvarchar](max) NULL,
	[Diagnosis] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalService]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalService](
	[MedicalServiceID] [int] IDENTITY(1,1) NOT NULL,
	[RecordID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[TotalPrice]  AS ([Quantity]*[UnitPrice]) PERSISTED,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicalServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicine]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine](
	[MedicineID] [int] IDENTITY(1,1) NOT NULL,
	[ProviderID] [int] NOT NULL,
	[MedicineName] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](20) NULL,
	[ActiveIngredient] [nvarchar](200) NULL,
	[Strength] [nvarchar](50) NULL,
	[DosageForm] [nvarchar](100) NULL,
	[Route] [nvarchar](50) NULL,
	[PrescriptionUnit] [nvarchar](50) NULL,
	[TherapeuticClass] [nvarchar](100) NULL,
	[PackSize] [nvarchar](100) NULL,
	[CommonSideEffects] [nvarchar](max) NULL,
	[NoteForDoctor] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicineVersion]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineVersion](
	[MedicineVersionId] [int] IDENTITY(1,1) NOT NULL,
	[MedicineId] [int] NOT NULL,
	[MedicineName] [nvarchar](200) NOT NULL,
	[Strength] [nvarchar](100) NULL,
	[DosageForm] [nvarchar](100) NULL,
	[Route] [nvarchar](100) NULL,
	[PrescriptionUnit] [nvarchar](50) NULL,
	[TherapeuticClass] [nvarchar](200) NULL,
	[ProviderId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ActiveIngredient] [nvarchar](200) NULL,
	[PackSize] [nvarchar](100) NULL,
	[CommonSideEffects] [nvarchar](1000) NULL,
	[NoteForDoctor] [nvarchar](500) NULL,
	[ProviderName] [nvarchar](100) NULL,
	[ProviderContact] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicineVersionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsGlobal] [bit] NOT NULL,
	[IsEmailSent] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationReceiver]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationReceiver](
	[NotificationId] [int] NOT NULL,
	[ReceiverId] [int] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[ReadDate] [datetime] NULL,
 CONSTRAINT [PK_NotificationReceiver] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC,
	[ReceiverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[PatientID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Allergies] [nvarchar](500) NULL,
	[MedicalHistory] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[RecordID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentDate] [datetime] NULL,
	[Method] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NULL,
	[OrderCode] [bigint] NULL,
	[CheckoutUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PediatricRecord]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PediatricRecord](
	[RecordID] [int] NOT NULL,
	[WeightKg] [decimal](5, 2) NULL,
	[HeightCm] [decimal](5, 2) NULL,
	[HeartRate] [int] NULL,
	[TemperatureC] [decimal](4, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PharmacyProvider]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PharmacyProvider](
	[ProviderID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Contact] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProviderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescription]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription](
	[PrescriptionID] [int] IDENTITY(1,1) NOT NULL,
	[RecordID] [int] NOT NULL,
	[DoctorID] [int] NOT NULL,
	[IssuedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PrescriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrescriptionDetail]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrescriptionDetail](
	[PrescriptionDetailID] [int] IDENTITY(1,1) NOT NULL,
	[PrescriptionID] [int] NOT NULL,
	[Dosage] [nvarchar](100) NOT NULL,
	[Duration] [nvarchar](50) NOT NULL,
	[Instruction] [nvarchar](200) NULL,
	[MedicineVersionId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PrescriptionDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receptionist]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receptionist](
	[ReceptionistID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceptionistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [decimal](18, 2) NULL,
	[Category] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shift]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shift](
	[ShiftID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftType] [nvarchar](20) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestResult]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestResult](
	[TestResultID] [int] IDENTITY(1,1) NOT NULL,
	[RecordID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[ResultValue] [nvarchar](100) NOT NULL,
	[Unit] [nvarchar](50) NULL,
	[Attachment] [nvarchar](255) NULL,
	[ResultDate] [datetime] NULL,
	[Notes] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TestResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 21/11/2025 21:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[DOB] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[RoleID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Avatar] [nvarchar](500) NULL,
	[EmailVerified] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointment] ON 

INSERT [dbo].[Appointment] ([AppointmentID], [PatientID], [DoctorID], [AppointmentDate], [ReceptionistID], [UpdatedBy], [Status], [CreatedAt], [ReasonForVisit]) VALUES (1, 1, 1, CAST(N'2025-10-10T09:00:00.000' AS DateTime), 1, 3, N'Confirmed', CAST(N'2025-11-15T23:18:53.543' AS DateTime), NULL)
INSERT [dbo].[Appointment] ([AppointmentID], [PatientID], [DoctorID], [AppointmentDate], [ReceptionistID], [UpdatedBy], [Status], [CreatedAt], [ReasonForVisit]) VALUES (2, 3, 1, CAST(N'2025-11-17T17:00:00.000' AS DateTime), 1, NULL, N'Confirmed', CAST(N'2025-11-16T22:38:44.063' AS DateTime), N'đau bụng')
INSERT [dbo].[Appointment] ([AppointmentID], [PatientID], [DoctorID], [AppointmentDate], [ReceptionistID], [UpdatedBy], [Status], [CreatedAt], [ReasonForVisit]) VALUES (3, 3, 4, CAST(N'2025-11-18T17:00:00.000' AS DateTime), 1, NULL, N'Confirmed', CAST(N'2025-11-17T02:58:09.480' AS DateTime), N'đau đầu')
SET IDENTITY_INSERT [dbo].[Appointment] OFF
GO
SET IDENTITY_INSERT [dbo].[DermatologyRecord] ON 

INSERT [dbo].[DermatologyRecord] ([DermRecordID], [RecordID], [PerformedByUserID], [RequestedProcedure], [BodyArea], [ProcedureNotes], [ResultSummary], [Attachment], [PerformedAt]) VALUES (1, 1, NULL, N'Soi da bằng đèn Wood', N'Má trái', N'Vệ sinh vùng da, bệnh nhân hợp tác tốt.', N'Tăng sắc tố nhẹ, không dấu hiệu ác tính.', N'/uploads/derm/record1/wood_lamp_left_cheek.jpg', CAST(N'2025-11-16T19:07:07.863' AS DateTime))
INSERT [dbo].[DermatologyRecord] ([DermRecordID], [RecordID], [PerformedByUserID], [RequestedProcedure], [BodyArea], [ProcedureNotes], [ResultSummary], [Attachment], [PerformedAt]) VALUES (2, 9, NULL, N'Khám da liễu', NULL, NULL, NULL, NULL, CAST(N'2025-11-18T11:31:00.670' AS DateTime))
INSERT [dbo].[DermatologyRecord] ([DermRecordID], [RecordID], [PerformedByUserID], [RequestedProcedure], [BodyArea], [ProcedureNotes], [ResultSummary], [Attachment], [PerformedAt]) VALUES (3, 8, NULL, N'Khám da liễu', NULL, NULL, NULL, NULL, CAST(N'2025-11-18T12:01:43.703' AS DateTime))
SET IDENTITY_INSERT [dbo].[DermatologyRecord] OFF
GO
INSERT [dbo].[Doctor] ([DoctorID], [UserID], [Specialty], [ExperienceYears], [RoomID]) VALUES (1, 1, N'Sản phụ khoa', 10, 2)
INSERT [dbo].[Doctor] ([DoctorID], [UserID], [Specialty], [ExperienceYears], [RoomID]) VALUES (2, 8, N'Nội khoa', 8, 1)
INSERT [dbo].[Doctor] ([DoctorID], [UserID], [Specialty], [ExperienceYears], [RoomID]) VALUES (3, 9, N'Da liễu', 6, 1)
GO
SET IDENTITY_INSERT [dbo].[DoctorShift] ON 

INSERT [dbo].[DoctorShift] ([DoctorShiftID], [DoctorID], [ShiftID], [EffectiveFrom], [EffectiveTo], [Status]) VALUES (1, 1, 1, CAST(N'2025-11-01' AS Date), CAST(N'2025-12-01' AS Date), N'Active')
INSERT [dbo].[DoctorShift] ([DoctorShiftID], [DoctorID], [ShiftID], [EffectiveFrom], [EffectiveTo], [Status]) VALUES (2, 1, 2, CAST(N'2025-11-01' AS Date), CAST(N'2025-12-01' AS Date), N'Active')
INSERT [dbo].[DoctorShift] ([DoctorShiftID], [DoctorID], [ShiftID], [EffectiveFrom], [EffectiveTo], [Status]) VALUES (3, 1, 1, CAST(N'2025-12-01' AS Date), CAST(N'2026-01-01' AS Date), N'Active')
SET IDENTITY_INSERT [dbo].[DoctorShift] OFF
GO
INSERT [dbo].[InternalMedRecord] ([RecordID], [BloodPressure], [HeartRate], [BloodSugar], [Notes]) VALUES (1, 135, 78, NULL, N'Khám tổng quát - theo dõi huyết áp')
INSERT [dbo].[InternalMedRecord] ([RecordID], [BloodPressure], [HeartRate], [BloodSugar], [Notes]) VALUES (4, NULL, NULL, NULL, NULL)
INSERT [dbo].[InternalMedRecord] ([RecordID], [BloodPressure], [HeartRate], [BloodSugar], [Notes]) VALUES (6, 11, 11, CAST(11.00 AS Decimal(6, 2)), N'11')
GO
SET IDENTITY_INSERT [dbo].[MedicalRecord] ON 

INSERT [dbo].[MedicalRecord] ([RecordID], [AppointmentID], [DoctorNotes], [Diagnosis], [CreatedAt]) VALUES (1, 1, N'Bệnh nhân có triệu chứng đau ngực nhẹ, huyết áp hơi cao.', N'Tăng huyết áp độ 1', CAST(N'2025-11-15T23:18:53.550' AS DateTime))
INSERT [dbo].[MedicalRecord] ([RecordID], [AppointmentID], [DoctorNotes], [Diagnosis], [CreatedAt]) VALUES (2, 2, NULL, NULL, CAST(N'2025-11-16T22:39:33.730' AS DateTime))
INSERT [dbo].[MedicalRecord] ([RecordID], [AppointmentID], [DoctorNotes], [Diagnosis], [CreatedAt]) VALUES (3, 3, NULL, N'đau bụng dạ dày', CAST(N'2025-11-17T03:00:47.890' AS DateTime))
SET IDENTITY_INSERT [dbo].[MedicalRecord] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalService] ON 

INSERT [dbo].[MedicalService] ([MedicalServiceID], [RecordID], [ServiceID], [Quantity], [UnitPrice], [Notes], [CreatedAt]) VALUES (10, 8, 13, 1, CAST(200000.00 AS Decimal(18, 2)), N'Khám Dermatology', CAST(N'2025-11-18T12:01:44.460' AS DateTime))
INSERT [dbo].[MedicalService] ([MedicalServiceID], [RecordID], [ServiceID], [Quantity], [UnitPrice], [Notes], [CreatedAt]) VALUES (11, 8, 14, 1, CAST(450000.00 AS Decimal(18, 2)), N'Khám InternalMed', CAST(N'2025-11-18T12:02:44.097' AS DateTime))
INSERT [dbo].[MedicalService] ([MedicalServiceID], [RecordID], [ServiceID], [Quantity], [UnitPrice], [Notes], [CreatedAt]) VALUES (12, 8, 15, 1, CAST(300000.00 AS Decimal(18, 2)), N'Khám Pediatric', CAST(N'2025-11-18T12:02:45.440' AS DateTime))
SET IDENTITY_INSERT [dbo].[MedicalService] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicine] ON 

INSERT [dbo].[Medicine] ([MedicineID], [ProviderID], [MedicineName], [Status], [ActiveIngredient], [Strength], [DosageForm], [Route], [PrescriptionUnit], [TherapeuticClass], [PackSize], [CommonSideEffects], [NoteForDoctor]) VALUES (1, 1, N'Paracetamol 500mg', N'Providing', N'Paracetamol', N'500mg', N'Viên nén', N'Uống', N'Viên', N'Giảm đau – hạ sốt', N'Hộp 10 vỉ x 10 viên', N'Buồn ngủ, mệt nhẹ', N'Dùng thận trọng với bệnh nhân có bệnh lý gan')
INSERT [dbo].[Medicine] ([MedicineID], [ProviderID], [MedicineName], [Status], [ActiveIngredient], [Strength], [DosageForm], [Route], [PrescriptionUnit], [TherapeuticClass], [PackSize], [CommonSideEffects], [NoteForDoctor]) VALUES (2, 1, N'Amlodipineeee 5mg', N'Providing', N'Amlodipinee', N'5mgg', N'Viên nénn', N'Uốngg', N'Viênn', N'Thuốc hạ huyết ápp (nhóm chẹn kênh canxi)', N'Hộp 3 vỉ x 10 viênn', N'Phù chân, nhức đầuu', N'Theo dõi huyết áp 3–5 ngày đầuu')
INSERT [dbo].[Medicine] ([MedicineID], [ProviderID], [MedicineName], [Status], [ActiveIngredient], [Strength], [DosageForm], [Route], [PrescriptionUnit], [TherapeuticClass], [PackSize], [CommonSideEffects], [NoteForDoctor]) VALUES (3, 1, N'Amocilin', N'Providing', N'ABC', N'500ml', N'Viên', N'uống', N'Viên', N'Hạ sốt', N'10 vỉ x 10 viên', N'mẩn đỏ', N'lưu ý với bệnh nhân men gan cao')
SET IDENTITY_INSERT [dbo].[Medicine] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicineVersion] ON 

INSERT [dbo].[MedicineVersion] ([MedicineVersionId], [MedicineId], [MedicineName], [Strength], [DosageForm], [Route], [PrescriptionUnit], [TherapeuticClass], [ProviderId], [CreatedAt], [ActiveIngredient], [PackSize], [CommonSideEffects], [NoteForDoctor], [ProviderName], [ProviderContact]) VALUES (3, 3, N'Amocilin', N'500ml', N'Viên', N'uống', N'Viên', N'Hạ sốt', 1, CAST(N'2025-11-16T17:42:57.9946704' AS DateTime2), N'ABC', N'10 vỉ x 10 viên', N'mẩn đỏ', N'lưu ý với bệnh nhân men gan cao', N'Võ Tấn D', N'Nhà thuốc Minh Châu - 25 Lý Thường Kiệt, Hà Nội')
SET IDENTITY_INSERT [dbo].[MedicineVersion] OFF
GO
INSERT [dbo].[Patient] ([PatientID], [UserID], [Allergies], [MedicalHistory]) VALUES (1, 2, N'Dị ứng với penicillin', N'Tiền sử tăng huyết áp nhẹ')
INSERT [dbo].[Patient] ([PatientID], [UserID], [Allergies], [MedicalHistory]) VALUES (2, 11, N'Không có', N'Không có bệnh lý nền')
INSERT [dbo].[Patient] ([PatientID], [UserID], [Allergies], [MedicalHistory]) VALUES (3, 12, N'Dị ứng với hải sản', N'Tiền sử đau dạ dày')
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [RecordID], [Amount], [PaymentDate], [Method], [Status], [OrderCode], [CheckoutUrl]) VALUES (1, 1, CAST(350000.00 AS Decimal(10, 2)), CAST(N'2025-11-15T23:18:53.600' AS DateTime), N'Tiền mặt', N'Paid', NULL, NULL)
INSERT [dbo].[Payment] ([PaymentID], [RecordID], [Amount], [PaymentDate], [Method], [Status], [OrderCode], [CheckoutUrl]) VALUES (2, 1, CAST(350000.00 AS Decimal(10, 2)), CAST(N'2025-11-17T20:00:29.810' AS DateTime), N'Tiền mặt', N'Paid', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
INSERT [dbo].[PediatricRecord] ([RecordID], [WeightKg], [HeightCm], [HeartRate], [TemperatureC]) VALUES (4, NULL, NULL, NULL, NULL)
INSERT [dbo].[PediatricRecord] ([RecordID], [WeightKg], [HeightCm], [HeartRate], [TemperatureC]) VALUES (6, CAST(11.00 AS Decimal(5, 2)), CAST(11.00 AS Decimal(5, 2)), 11, CAST(11.0 AS Decimal(4, 1)))
INSERT [dbo].[PediatricRecord] ([RecordID], [WeightKg], [HeightCm], [HeartRate], [TemperatureC]) VALUES (8, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[PharmacyProvider] ([ProviderID], [UserID], [Contact]) VALUES (1, 4, N'Nhà thuốc Minh Châu - 25 Lý Thường Kiệt, Hà Nội')
GO
SET IDENTITY_INSERT [dbo].[Prescription] ON 

INSERT [dbo].[Prescription] ([PrescriptionID], [RecordID], [DoctorID], [IssuedDate]) VALUES (1, 1, 1, CAST(N'2025-11-15T23:18:53.567' AS DateTime))
INSERT [dbo].[Prescription] ([PrescriptionID], [RecordID], [DoctorID], [IssuedDate]) VALUES (2, 2, 1, CAST(N'2025-11-16T16:50:06.077' AS DateTime))
INSERT [dbo].[Prescription] ([PrescriptionID], [RecordID], [DoctorID], [IssuedDate]) VALUES (3, 3, 4, CAST(N'2025-11-16T20:02:27.007' AS DateTime))
SET IDENTITY_INSERT [dbo].[Prescription] OFF
GO
SET IDENTITY_INSERT [dbo].[PrescriptionDetail] ON 

INSERT [dbo].[PrescriptionDetail] ([PrescriptionDetailID], [PrescriptionID], [Dosage], [Duration], [Instruction], [MedicineVersionId]) VALUES (1, 1, N'1 viên - 3 lần/ngày', N'5 ngày', NULL, 1)
INSERT [dbo].[PrescriptionDetail] ([PrescriptionDetailID], [PrescriptionID], [Dosage], [Duration], [Instruction], [MedicineVersionId]) VALUES (2, 1, N'1 viên - 1 lần/ngày', N'7 ngày', NULL, 2)
INSERT [dbo].[PrescriptionDetail] ([PrescriptionDetailID], [PrescriptionID], [Dosage], [Duration], [Instruction], [MedicineVersionId]) VALUES (3, 2, N'3 viên x ngày', N'5 ngày', NULL, 2)
SET IDENTITY_INSERT [dbo].[PrescriptionDetail] OFF
GO
INSERT [dbo].[Receptionist] ([ReceptionistID], [UserID]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (8, N'Administrator')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (7, N'Clinic Manager')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (4, N'Doctor')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([RoomID], [RoomName]) VALUES (1, N'Phòng khám tổng quát 101')
INSERT [dbo].[Room] ([RoomID], [RoomName]) VALUES (2, N'Phòng tim mạch 202')
INSERT [dbo].[Room] ([RoomID], [RoomName]) VALUES (3, N'Phòng khám tổng quát 102')
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([ServiceID], [ServiceName], [Description], [Price], [Category], [IsActive]) VALUES (13, N'Dermatology', N'Khám da li?u t?ng quát', CAST(200000.00 AS Decimal(18, 2)), N'Dermatology', 1)
INSERT [dbo].[Service] ([ServiceID], [ServiceName], [Description], [Price], [Category], [IsActive]) VALUES (14, N'InternalMed', N'Khám n?i t?ng quát', CAST(450000.00 AS Decimal(18, 2)), N'InternalMed', 1)
INSERT [dbo].[Service] ([ServiceID], [ServiceName], [Description], [Price], [Category], [IsActive]) VALUES (15, N'Pediatric', N'Khám nhi t?ng quát', CAST(300000.00 AS Decimal(18, 2)), N'Pediatric', 1)
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[Shift] ON 

INSERT [dbo].[Shift] ([ShiftID], [ShiftType], [StartTime], [EndTime]) VALUES (1, N'Sáng', CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time))
INSERT [dbo].[Shift] ([ShiftID], [ShiftType], [StartTime], [EndTime]) VALUES (2, N'Chiều', CAST(N'13:30:00' AS Time), CAST(N'17:30:00' AS Time))
INSERT [dbo].[Shift] ([ShiftID], [ShiftType], [StartTime], [EndTime]) VALUES (3, N'Tối', CAST(N'18:00:00' AS Time), CAST(N'22:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Shift] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Phone], [PasswordHash], [FullName], [Email], [DOB], [Gender], [RoleID], [IsActive], [Avatar], [EmailVerified]) VALUES (1, N'0905123456', N'$2a$11$uP69F9o4TwZP9ftmztyzB.oH/HCDKLCWNmAveQv.2rlKx.nfhcrIW', N'Nguyễn Văn A', N'a.nguyen@diamondhealth.vn', CAST(N'1990-05-15' AS Date), N'Nam', 4, 1, NULL, 1)
INSERT [dbo].[User] ([UserID], [Phone], [PasswordHash], [FullName], [Email], [DOB], [Gender], [RoleID], [IsActive], [Avatar], [EmailVerified]) VALUES (2, N'0906123456', N'$2a$11$uP69F9o4TwZP9ftmztyzB.oH/HCDKLCWNmAveQv.2rlKx.nfhcrIW', N'Lê Thị B', N'b.le@diamondhealth.vn', CAST(N'1995-03-22' AS Date), N'Nữ', 2, 1, NULL, 1)
INSERT [dbo].[User] ([UserID], [Phone], [PasswordHash], [FullName], [Email], [DOB], [Gender], [RoleID], [IsActive], [Avatar], [EmailVerified]) VALUES (3, N'0907123456', N'$2a$11$uP69F9o4TwZP9ftmztyzB.oH/HCDKLCWNmAveQv.2rlKx.nfhcrIW', N'Phạm Minh C', N'c.pham@diamondhealth.vn', CAST(N'1992-07-10' AS Date), N'Nam', 3, 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [UQ__Doctor__1788CCAD324C6F8B]    Script Date: 21/11/2025 21:49:19 ******/
ALTER TABLE [dbo].[Doctor] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MedicineVersion_MedicineId]    Script Date: 21/11/2025 21:49:19 ******/
CREATE NONCLUSTERED INDEX [IX_MedicineVersion_MedicineId] ON [dbo].[MedicineVersion]
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Patient__1788CCAD2F3F4D32]    Script Date: 21/11/2025 21:49:19 ******/
ALTER TABLE [dbo].[Patient] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Pharmacy__1788CCADE6620A38]    Script Date: 21/11/2025 21:49:19 ******/
ALTER TABLE [dbo].[PharmacyProvider] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Receptio__1788CCADFC6E9B96]    Script Date: 21/11/2025 21:49:19 ******/
ALTER TABLE [dbo].[Receptionist] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__8A2B61601E782E88]    Script Date: 21/11/2025 21:49:19 ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__5C7E359EC50A987C]    Script Date: 21/11/2025 21:49:19 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointment] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Appointment] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DermatologyRecord] ADD  DEFAULT (getdate()) FOR [PerformedAt]
GO
ALTER TABLE [dbo].[DoctorShift] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[DoctorShiftExchange] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[DoctorShiftExchange] ADD  DEFAULT ('Temporary') FOR [SwapType]
GO
ALTER TABLE [dbo].[MedicalRecord] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MedicalService] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[MedicalService] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Medicine] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[MedicineVersion] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((0)) FOR [IsGlobal]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((0)) FOR [IsEmailSent]
GO
ALTER TABLE [dbo].[NotificationReceiver] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Prescription] ADD  DEFAULT (getdate()) FOR [IssuedDate]
GO
ALTER TABLE [dbo].[Service] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TestResult] ADD  DEFAULT (getdate()) FOR [ResultDate]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [EmailVerified]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctor] ([DoctorID])
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patient] ([PatientID])
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([ReceptionistID])
REFERENCES [dbo].[Receptionist] ([ReceptionistID])
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[DermatologyRecord]  WITH CHECK ADD FOREIGN KEY([PerformedByUserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[DermatologyRecord]  WITH CHECK ADD FOREIGN KEY([RecordID])
REFERENCES [dbo].[MedicalRecord] ([RecordID])
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Room] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_Room]
GO
ALTER TABLE [dbo].[DoctorShift]  WITH CHECK ADD FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctor] ([DoctorID])
GO
ALTER TABLE [dbo].[DoctorShift]  WITH CHECK ADD FOREIGN KEY([ShiftID])
REFERENCES [dbo].[Shift] ([ShiftID])
GO
ALTER TABLE [dbo].[DoctorShiftExchange]  WITH CHECK ADD FOREIGN KEY([Doctor1ID])
REFERENCES [dbo].[Doctor] ([DoctorID])
GO
ALTER TABLE [dbo].[DoctorShiftExchange]  WITH CHECK ADD FOREIGN KEY([Doctor1ShiftRefID])
REFERENCES [dbo].[DoctorShift] ([DoctorShiftID])
GO
ALTER TABLE [dbo].[DoctorShiftExchange]  WITH CHECK ADD FOREIGN KEY([Doctor2ID])
REFERENCES [dbo].[Doctor] ([DoctorID])
GO
ALTER TABLE [dbo].[DoctorShiftExchange]  WITH CHECK ADD FOREIGN KEY([Doctor2ShiftRefID])
REFERENCES [dbo].[DoctorShift] ([DoctorShiftID])
GO
ALTER TABLE [dbo].[InternalMedRecord]  WITH CHECK ADD FOREIGN KEY([RecordID])
REFERENCES [dbo].[MedicalRecord] ([RecordID])
GO
ALTER TABLE [dbo].[MedicalRecord]  WITH CHECK ADD FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointment] ([AppointmentID])
GO
ALTER TABLE [dbo].[MedicalService]  WITH CHECK ADD  CONSTRAINT [FK_MedicalService_Record] FOREIGN KEY([RecordID])
REFERENCES [dbo].[MedicalRecord] ([RecordID])
GO
ALTER TABLE [dbo].[MedicalService] CHECK CONSTRAINT [FK_MedicalService_Record]
GO
ALTER TABLE [dbo].[MedicalService]  WITH CHECK ADD  CONSTRAINT [FK_MedicalService_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
ALTER TABLE [dbo].[MedicalService] CHECK CONSTRAINT [FK_MedicalService_Service]
GO
ALTER TABLE [dbo].[Medicine]  WITH CHECK ADD FOREIGN KEY([ProviderID])
REFERENCES [dbo].[PharmacyProvider] ([ProviderID])
GO
ALTER TABLE [dbo].[MedicineVersion]  WITH CHECK ADD  CONSTRAINT [FK_MedicineVersion_Medicine] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicine] ([MedicineID])
GO
ALTER TABLE [dbo].[MedicineVersion] CHECK CONSTRAINT [FK_MedicineVersion_Medicine]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_User]
GO
ALTER TABLE [dbo].[NotificationReceiver]  WITH CHECK ADD  CONSTRAINT [FK_NotificationReceiver_Notification] FOREIGN KEY([NotificationId])
REFERENCES [dbo].[Notification] ([NotificationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NotificationReceiver] CHECK CONSTRAINT [FK_NotificationReceiver_Notification]
GO
ALTER TABLE [dbo].[NotificationReceiver]  WITH CHECK ADD  CONSTRAINT [FK_NotificationReceiver_User] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NotificationReceiver] CHECK CONSTRAINT [FK_NotificationReceiver_User]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([RecordID])
REFERENCES [dbo].[MedicalRecord] ([RecordID])
GO
ALTER TABLE [dbo].[PediatricRecord]  WITH CHECK ADD FOREIGN KEY([RecordID])
REFERENCES [dbo].[MedicalRecord] ([RecordID])
GO
ALTER TABLE [dbo].[PharmacyProvider]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctor] ([DoctorID])
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD FOREIGN KEY([RecordID])
REFERENCES [dbo].[MedicalRecord] ([RecordID])
GO
ALTER TABLE [dbo].[PrescriptionDetail]  WITH CHECK ADD FOREIGN KEY([PrescriptionID])
REFERENCES [dbo].[Prescription] ([PrescriptionID])
GO
ALTER TABLE [dbo].[PrescriptionDetail]  WITH CHECK ADD  CONSTRAINT [FK_PrescriptionDetail_MedicineVersion] FOREIGN KEY([MedicineVersionId])
REFERENCES [dbo].[MedicineVersion] ([MedicineVersionId])
GO
ALTER TABLE [dbo].[PrescriptionDetail] CHECK CONSTRAINT [FK_PrescriptionDetail_MedicineVersion]
GO
ALTER TABLE [dbo].[Receptionist]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[TestResult]  WITH CHECK ADD FOREIGN KEY([RecordID])
REFERENCES [dbo].[MedicalRecord] ([RecordID])
GO
ALTER TABLE [dbo].[TestResult]  WITH CHECK ADD  CONSTRAINT [FK_TestResult_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
ALTER TABLE [dbo].[TestResult] CHECK CONSTRAINT [FK_TestResult_Service]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
USE [master]
GO
